<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" type="text/css" href="/css/squirrelbingo.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato|ABeeZee|Raleway' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>

  <script type="text/javascript" src="/js/squirrelbingorefactor.js"></script>


  <title>Squirrel Bingo</title>
</head>
<body>
  <h1>Squirrel Bingo<img src="sqrl.png" alt="Who Run Da World?!"></h1>
  <table><script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script><div class="onesquare">
      <tr>
      <td class="cellheader" id="bingoheader">B</td>
      <td class="cellheader" id="bingoheader">I</td>
      <td class="cellheader" id="bingoheader">N</td>
      <td class="cellheader" id="bingoheader">G</td>
      <td class="cellheader" id="bingoheader">O</td>
    </tr></div>
      <tr>
      <td class="bingoboard" id="0">&nbsp;</td>
      <td class="bingoboard" id="1">&nbsp;</td>
      <td class="bingoboard" id="2">&nbsp;</td>
      <td class="bingoboard" id="3">&nbsp;</td>
      <td class="bingoboard" id="4">&nbsp;</td>
    </tr>
    <tr>
      <td class="bingoboard" id="5">&nbsp;</td>
      <td class="bingoboard" id="6">&nbsp;</td>
      <td class="bingoboard" id="7">&nbsp;</td>
      <td class="bingoboard" id="8">&nbsp;</td>
      <td class="bingoboard" id="9">&nbsp;</td>
    </tr>
    <tr>
      <td class="bingoboard" id="10">&nbsp;</td>
      <td class="bingoboard" id="11">&nbsp;</td>
      <td class="freespace" id="12">FREE<BR>PIZZA</td>
      <td class="bingoboard" id="13">&nbsp;</td>
      <td class="bingoboard" id="14">&nbsp;</td>
    </tr>
    <tr>
      <td class="bingoboard" id="15">&nbsp;</td>
      <td class="bingoboard" id="16">&nbsp;</td>
      <td class="bingoboard" id="17">&nbsp;</td>
      <td class="bingoboard" id="18">&nbsp;</td>
      <td class="bingoboard" id="19">&nbsp;</td>
    </tr>
    <tr>
      <td class="bingoboard" id="20">&nbsp;</td>
      <td class="bingoboard" id="21">&nbsp;</td>
      <td class="bingoboard" id="22">&nbsp;</td>
      <td class="bingoboard" id="23">&nbsp;</td>
      <td class="bingoboard" id="24">&nbsp;</td>
    </tr></div>
  </table>
    <center><button id="newcardbutton" type="button">New Card!</button></center>

</body>
</html>
